<body style="">
	

	<div style="text-align: center;margin-top: 10px; font-size: 40px; color: #55ce97"> 
		<strong> Add Employee Details </strong> 
	</div>

	<%= render "form", employee: @employee %>

</body>