<body style="background-color: white; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">

    <ul style="color: #333; font-size: 24px; line-height: 1.8;">
        <li> Brush up Js and add better functionality like client validation and search. </li>
        <li> With Rails, use more Hotwire. HTML programmer is a thing now. </li>
        <li> Best practices for maintaing CSS. Its messy atm.</li>
        <li> Make consistent desgin choices. </li>
        <li> Backend is solid! </li>
    </ul>

    <%= button_to "Home", root_path, method: :get ,style: "position: fixed; bottom: 10; left: 10; width: 80px" %>

</body>

