<body style="background: rgb(0,190,3);
background: radial-gradient(circle, rgba(0,190,3,1) 2%, rgba(13,13,12,1) 54%);">

	<p style="color: green; text-align: center;"><%= notice %></p>

	<%= render @bill %>

	<div style="text-align: center;">
	  <br><br>
	  <%= link_to "Back", bills_path, class: 'btn btn-primary'%>
	</div>
</body>