/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#employees, #bills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.employee-table, .bills-table {
  width: 80%;
  max-width: 1000px;
  border-collapse: collapse;
  margin: 20px 0;
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.employee-table th,
.employee-table td,
.bills-table th,
.bills-table td  {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center; 
  background-color: white;
}

.employee-table thead, .bills-table thead {
  background-color: #f4f4f4;
}




#departments{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.department-table {
  width: 30%;
  max-width: 1000px;
  border-collapse: collapse;
  margin: 20px 0;
  overflow: hidden; 
}

.department-table th,
.department-table td  {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center; 
  background-color: #f0e9cc;
}

